* {
  margin: 0;
  padding: 0;
}
#nav-bar {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid rgba(196, 191, 191, 0.774);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#nav-bar > .link {
  font-size: 30pt;
  text-decoration: none;
  margin: auto;
}
.color-slider-app {
  margin-top: 2vh;
}
#slider-title {
  width: 25%;
  margin: auto;
  font-size: 30pt;
  padding: 3vh;
  text-align: center;
}
.sliders-container {
  display: flex;
  flex-direction: column;
  width: 30vh;
  margin: auto;
  padding-top: 1vh;
  padding-bottom: 4vh;
}

.box {
  height: 40vh;
  width: 40vh;
  margin: auto;
  box-shadow: inset 0 0 10px #000000;
}

#this-week-app > .day-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-top: 10vh;
}

.day-container > .day {
  box-shadow: inset 0 0 10px #e7e5e5;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1vh;
  margin: auto;
  height: 10vh;
  width: 300vh;
}

#this-week-app > .button-container {
  width: 40%;
  margin: auto;
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#this-week-app > .button-container > button {
  width: 48%;

  height: 3vh;
}

#inflect-it-app > .input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 10vh;
  justify-content: center;
}

#inflect-it-app > .input-container > input {
  height: 4vh;
  font-size: large;
  margin-bottom: 1vh;
}

#inflect-it-app > .input-container > button {
  height: 4vh;
  font-size: large;
  margin-bottom: 2vh;
}

.words-container {
  display: flex;
  flex-wrap: wrap;
}
.word-tile {
  box-shadow: inset 0 0 10px #beb8b8;
  border-radius: 10px;
  padding: 5px;
  width: 15%;
  margin: 4vh;
  list-style-type: none;
}
#markdown-app {
  display: flex;
  flex-direction: row;
}
.editor {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(5, 5, 5, 0.856);
  color: rgb(21, 184, 43);
  font-weight: bold;
  padding: 6px;
  margin: 1vh;
  height: 90vh;
  width: 47%;
  font-size: 13pt;
}

.display {
  border: 2px solid rgb(107, 107, 107);
  height: 91.5vh;
  margin: 1vh;
  width: 47%;
  padding: 6px;
}
